/* ========================================
   MAIN CSS - RSI Enterprise
   Punto de entrada de todos los estilos
   ======================================== */

/* Base */
@import url('./base/variables.css');
@import url('./base/reset.css');
/*@import url('base/typography.css');*/

/* Layout */
/*@import url('./layout/containers.css');
@import url('./layout/grid.css');
@import url('./layout/sections.css');*/

/* Components */
@import url('./components/shared.css');
/*@import url('./components/buttons.css');*/
@import url('./components/cards.css');
@import url('./components/navbar.css');
@import url('./components/navbarPartner.css');
@import url('./components/footer.css');
@import url('./components/forms.css');
@import url('./components/tables.css');
@import url('./components/formSteps.css');
@import url('./components/sweetAlert.css');

/* Pages */
@import url('./pages/home.css');
@import url('./pages/products.css');
@import url('./pages/404.css');
@import url('./pages/aboutus.css');
@import url('./pages/contact.css');
@import url('./pages/partner/newPartner.css');
/* Utilidades (opcional) */
/* @import url('utils/helpers.css'); */
/* @import url('utils/responsive.css'); */
/* Estilos base adicionales */
body {
    padding-top: 95px;
}

#app {
    min-height: calc(100vh - 400px);
}

@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }
}